<%# Flash message container - displays all flash types %>
<div id="flash-container" class="fixed top-4 right-4 z-50 space-y-3 pointer-events-none">
  <% flash.each do |type, message| %>
    <%= render partial: "shared/toast", locals: { type: type.to_sym, message: message } %>
  <% end %>
</div>
